.select-box{
  background-color:transparent;
  padding: 10px;
  border-radius: 4px;
}
.select-box select{
  padding:7.5px;
  border-radius: 4px;
  border-color:#ff0000;
  cursor: pointer;
}

.days{ 
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 15px;
  
}
.days .day {
  padding: 5px 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  color:#a22626;
  font-weight: 600;
}
.days .day:hover {
  color:#00e5ff;
}
.days .day:hover .day-img{
  transform: scale(1.2);
  transition: transform 0.5s;
  cursor: pointer;
}


.days .day-img{
  width: 100%;
  max-width: 80px;
  transition: transform 0.5s;
}
.days .day-deg span:first-child{ 
  color:#ff6600;
  margin-right: 5px;
}
